*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  position: static;
  width: 100%;
  height: 56px;
  top: 0;
  left: 0;
  transform: translate(0);
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}
.header-logo span {
  color: #2e2f42;
}
.logo-item {
}
.header-menu {
  display: none;
  gap: 40px;
}
.header-menu-item {
}
.header-link {
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}
.current::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
}
.address {
  font-style: normal;
  display: none;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-mailtel {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mailtel:hover,
.address-mailtel:focus {
  color: #404bbf;
}
.tit-btn {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  padding: 72px 0;
  margin: 56px auto 0;
}
.container {
}
.title-business {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
  max-width: 288px;
}
.button-order {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-four {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.subtitle-menu {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.subtitle-menu-item {
}

.box-icon {
  display: none;
}

.subtitle-name {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.text-name {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}
.container {
}
.team-name {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-name-menu {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-name-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: block;
}

.img-people {
}
.team-container {
  padding: 32px 0;
}
.title-people {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-bottom: 8px;
  font-style: normal;
}
.text-people {
  color: #434455;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-size: 16px;
}
.social-links-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-links-subtitle {
  height: 40px;
  width: 40px;
}
.soc-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}
.svg-soc-link {
  fill: #f4f4fd;
}
.portfolio {
}
.container {
}
.portfolio-name {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  align-items: center;
}
.portfolio-menu-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-menu-item:hover .overlay-wrap {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hidden-overlay {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-img {
}
.overlay-wrap {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: #4d5ae5;
  display: none;
}
.potr-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  width: 100%;
}
.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.container-two {
  /* margin-right: 120px; */
}
.footer-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
  font-style: normal;
  margin-top: 1.5px;
  text-align: center;
}
.footer-item {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  width: 100%;
}
/* .footer-soc {
  align-items: center;
  margin-right: 80px;
} */
.foot-par {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
}
.footer-soc-menu {
  display: flex;
  gap: 16px;
}
.footer-soc-subtitle {
  width: 40px;
  height: 40px;
}
.foot-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-link:hover,
.foot-soc-link:focus {
  background-color: #31d0aa;
}
.svg-foot {
  fill: #f4f4fd;
}

.section-subscribe {
}
.footer-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.form-subscribe {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.label-subscribe {
}
.input-subscribe {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.input-subscribe::placeholder {
  color: #ffffff;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover.subscribe-btn:focus {
  background-color: #404bbf;
}
.svg-subs {
  fill: #f4f4fd;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.backdrop.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  min-height: 288px;
  max-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}

.modal-btn {
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn .modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.input-wrap.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within .modal-input {
  border-color: #4d5ae5;
}
.input-wrap:focus-within .modal-icon {
  fill: #4d5ae5;
}

.modal-form-btn {
  display: block;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto 24px;
  cursor: pointer;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
.modal-form-btn:hover .modal-btn-icon,
.modal-form-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus-within {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-privacy {
  margin-bottom: 24px;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-text-box {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text > .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* !---media--- */

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .subtitle-menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .subtitle-menu {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .subtitle-menu-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .subtitle-menu-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

@media screen and (min-width: 1158px) {
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }
}
@media screen and (min-width: 768px) {
  .subtitle-name {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .subtitle-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.08em;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .text-name {
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-name-menu {
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-name-menu {
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-menu {
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-menu-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 360px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-menu-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .overlay-wrap {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
  .foot {
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px;
  }
  .footer-web {
    text-align: left;
  }
  .footer-text {
    width: 264px;
  }
  .foot-soc {
    margin-right: 80px;
  }
  .foot-par {
    text-align: left;
  }
  .footer-subscribe {
    text-align: left;
  }
  .form-subscribe {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .foot {
    flex-wrap: nowrap;
    gap: 0;
  }
  .container-two {
    margin-right: 120px;
  }
  .section-subscribe {
    margin-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .tit-btn {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(???);
    max-width: 768px;
    padding: 112px 0;
    margin: 72px auto 0;
  }
  .title-business {
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .tit-btn {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(???);
    max-width: 1440px;
    padding: 188px 0;
  }
  .title-business {
    margin: 0 auto 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    top: 96px;
    transform: translate(-50%, 0) scale(1);
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-logo {
    padding: 24px 0;
  }
  .header-menu {
    display: flex;
  }
  .address {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-nav {
    gap: 120px;
  }
  .address-menu {
    flex-direction: column;
    gap: 12px;
  }
  .address-mailtel {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address {
    padding: 24px 0px;
  }
}
